*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

/* 
.social-3d-button {
    width: 100%;
    height: 100vh;

} */

.social-3d-button ul {
    /* width: 100%; */
    /* height: 100vh; */
    position: fixed;
    left: 50%;
    top: 20%;
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: start; */
    /* align-items: ; */
    transform: skewy(-15deg);

}

.social-3d-button ul li {
    display: block;
    position: relative;
    transition: .4s;
}

.social-3d-button ul li a {
    width: 150px;
    height: 40px;
    padding: 13px 30px;
    margin: 1px 0;
    display: block;
    background-color: rgb(73, 73, 73);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    position: relative;
    /* transform: skewy(-15deg); */
    transition: .4s;
    z-index: var(--i);
}

.social-3d-button ul li:hover a {
    transform: translateX(-50%);
    text-shadow: 2px 2px 1px black;
}

.social-3d-button ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    top: -100%;
    left: 130px;
    background-color: rgb(126, 126, 126);
    transform: skewx(45deg) translate(-100%);
    transition: .4s;
    z-index: -100;
}

.social-3d-button ul li a:hover::after {
    background-color: rgb(164, 164, 164);
}

.social-3d-button ul li a span {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 40px;
    height: 40px;
    background-color: rgb(195, 195, 195);
    color: rgb(12, 101, 80);
    transform: skewy(45deg) translate(-100%);
    transition: .4s;
}

.social-3d-button ul li a span i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
    text-shadow: 1px 1px 1px rgb(61, 61, 61);

}

.social-3d-button ul li:hover a span i {
    text-shadow: 2px 2px 1px rgb(61, 61, 61);
    transition: 0s;
}